<% @notes.each do |note| %>
  <p>
    <%= note.body %>
    -
    <%= link_to("edit", edit_note_path(note.id)) %>
    -
    <%= link_to("delete", note_path(note.id), method: :delete, data: {confirm: "Are you sure?"})%>
  </p>
<% end %>

